.img-div {background-size: auto; background-color: beige; border-bottom-left-radius: 10%;


}
.header{ border: 5px; padding: 5px; font-style: italic; font-size: 15px; color: brown;

}

img{width: 100%; height: auto; opacity: 0.50%;}

        


  footer{ text-align: center;
background-color: lightsalmon; padding: 5px;
color: brown; font-style: italic; font-weight: bolder;
font-family: 'Times New Roman', Times, serif;}

.header { text-align: center; background-color: rgb(235, 202, 173);}
.footer { border: 0px; padding: 5px; margin: 5px;}

}
  
  </style>